
body {
    font-family: 'Saira Semi Condensed', sans-serif;
    
}
header{
    text-align: center;
    font-family: 'Saira Semi Condensed', sans-serif;
}
#search-bar{
    float: left;
    padding-left: 5px;
    padding-right: 5px;
    height: 200px;
    font-family: 'Saira Semi Condensed', sans-serif;
}
.five-box{
    color: white;
    font-family: 'Saira Semi Condensed', sans-serif;
    width: 135px;
    height: 135px;
    border-radius: 15px;
    background-color: #007BFF;
    display: inline-block;
    margin-right: 10px;
    padding: 10px;
    padding-bottom: 5px;
}
ul.button-list{
    list-style-type: none;
    margin-top: 20px;
    padding-left: 5px;
    font-family: 'Saira Semi Condensed', sans-serif;
}
.btn {
	border: 1px solid transparent;
	padding: 0.4375rem 1.375rem;
	font-size: 0.875rem;
	line-height: 1.0rem;
    border-radius: 0.25rem;
    color: #FFFFFF;
	background: #037DE8;
	cursor: pointer;
}
.btn:hover {
	background-color: rgb(2, 60, 110);
}
.btn:active {
    background-color: rgb(2, 60, 110);
    transform: translateY(4px);

}
.city-button{
    width: 350px;
    padding-left: 5px;
    font-family: 'Saira Semi Condensed', sans-serif;
}
ul.button-list .city-button:not(:last-child) {
    border-bottom: none;
    font-family: 'Saira Semi Condensed', sans-serif;
}
#uv-index{
    background-color: red;
    border-radius: 5px;
} 
.find-city{
    padding-right: 1.5rem;
}
.city{
    padding-right: 1.5rem;
}
